<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education Resource Center</title>
  <!-- <link rel="stylesheet" href="path/to/styles.css"> -->
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  <style>
    
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 50px;
}

    h1 {
    color: blue;
}
/* 
    button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: darkgreen;
} */


button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.educator-button {
  background-color: #4CAF50;
  color: white;
}

.student-button {
  background-color: #008CBA;
  color: white;
}



/* Add more styles as needed */

  </style>
</head>

<body>
  <h1>Welcome to Education Resource Center</h1>
  <button class="educator-button" onclick="window.location.href='/auth/register?role=educator'">Register as Educator</button>
  <button  class="student-button" onclick="window.location.href='/auth/register?role=student'">Register as Student</button>
  <!-- <script src="/js/script.js"></script> -->
</body>
</html>
